@model FourN.Data.Models.Projects

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<FourN.Data.Models.Affairs> affairsList = ViewBag.affairList;
    List<FourN.Data.Models.User> userList = ViewBag.userList;
    List<FourN.Data.Models.Request> requestList = ViewBag.requestList;
    List<int> listUser = ViewBag.listUser;
    int sumTask = 0, hoursd = 0;
    long gio1 = 0;
    double costPlan = 0;
    TimeSpan timeStart = TimeSpan.Parse("9:00"), timeEnd = TimeSpan.Parse("18:00"),
    timeMid = TimeSpan.Parse("12:00");
}
<div class="row">
    <div class="col-12">
        <div class="callout callout-info">
            <h4><i class="fas fa-info"></i> PROJECT DETAILS INFORMATION</h4>
        </div>
        <!-- Main content -->
        <div class="invoice p-3 mb-3">
            <div class="row invoice-info">
                <div class="col-md-5 invoice-col">
                    <h5>Project Code: <b style="color:red">@Model.projectcode</b></h5>
                    <h5>Project Name: <b style="color:darkgreen">@Model.projectname</b></h5>
                </div>
                <div class="col-md-6 invoice-col">
                    <h5>Start (Plan): <b style="color:red">@Model.startplan.ToString("dd/MM/yyyy")</b></h5>
                    <h5>End (Plan): <b style="color:darkgreen">@Model.endplan.ToString("dd/MM/yyyy")</b></h5>
                </div>
                <div class="col-md-1 invoice-col">
                    <a class="btn btn-block btn-primary btn-md" asp-controller="Costsalary" asp-action="ExportBiddingExcel" asp-route-id="@Model.projectid">
                        <i class="fas fa-save"></i> Save Excel
                    </a>
                </div>
            </div>
            <hr />
            <div class="row invoice-info">
                <div class="col-md-3 invoice-col">
                    <br />
                    <h4 style="color:brown">
                        DETAIL LIST OF TASKS
                    </h4>
                </div>
                <div class="col-md-5 invoice-col">
                    <p>
                        <strong>NOTE: </strong><br />
                        With Practitioners is <b>MEMBER</b> Labor Cost is <i style="color:dimgrey">100,000 (vnd/h)</i><br />
                        With Practitioners is <b>LEADER</b> Labor Cost is <i style="color:dimgrey">200,000 (vnd/h)</i><br />
                        With Practitioners is <b>PM</b> Labor Cost is <i style="color:dimgrey">300,000 (vnd/h)</i><br />
                        With Practitioners is <b>FREELANCER</b> Labor Cost is <i style="color:dimgrey">80,000 (vnd/h)</i>
                    </p>
                </div>
                <div class="col-md-4 invoice-col">
                    <p>
                        <strong>TOTAL COST EQUALS: </strong><br />
                        <i style="color:red"><b>(Total Time * 500,000) (vnd)</b></i>
                    </p>
                </div>
            </div>
            <hr />
            <!-- Table row -->
            <div class="row" style="overflow:hidden">
                <div class="col-12" style="overflow-y:scroll">
                    <table id="example1" class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Task Name</th>
                                <th style="width:50px">Type Of Task</th>
                                <th>Practitioners</th>
                                <th>Start (Plan)</th>
                                <th>End (Plan)</th>
                                <th>Total Time (Plan)</th>
                                <th>Total Cost</th>
                                <th>Estimated Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itemTask in affairsList)
                            {
                                long totalTimeUser = 0;
                                DateTime startTime, endTime;
                                int hours = 0, daysx = 0, dayss = 0;
                                double hFull, hCFull, hOFull;
                                <tr>
                                    <td></td>
                                    <td>@itemTask.affairname</td>
                                    <td>
                                        @if (itemTask.typeofaffair == 0)
                                        {
                                            <b style="color:aqua">Analisys</b>
                                        }
                                        else if (itemTask.typeofaffair == 1)
                                        {
                                            <b style="color:blue">Design</b>
                                        }
                                        else if (itemTask.typeofaffair == 2)
                                        {
                                            <b style="color:coral">Implementation</b>
                                        }
                                        else if (itemTask.typeofaffair == 3)
                                        {
                                            <b style="color:blueviolet">Testing</b>
                                        }
                                        else
                                        {
                                            <b style="color:black">Deployment</b>
                                        }
                                    </td>
                                    <td>
                                        @foreach (var itemUser in userList)
                                        {
                                            if (itemTask.userid == itemUser.userid)
                                            {
                                                startTime = DateTime.Parse(itemTask.starttimeplan.ToString());
                                                endTime = DateTime.Parse(itemTask.endtimeplan.ToString());

                                                for (DateTime date = startTime; date.DayOfYear <= endTime.DayOfYear; date = date.AddDays(1))
                                                {
                                                    if (date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday)
                                                    {

                                                    }
                                                    else
                                                    {
                                                        hFull = ((TimeSpan)(timeEnd - timeStart)).TotalHours - 1;
                                                        if (timeEnd > startTime.TimeOfDay && timeStart <= startTime.TimeOfDay
                                                        && startTime.TimeOfDay <= timeMid)
                                                        {
                                                            hCFull = (((TimeSpan)(timeEnd - startTime.TimeOfDay)).TotalHours - 1);
                                                        }
                                                        else if (timeEnd > startTime.TimeOfDay && timeStart <= startTime.TimeOfDay
                                                            && startTime.TimeOfDay > timeMid)
                                                        {
                                                            hCFull = (((TimeSpan)(timeEnd - startTime.TimeOfDay)).TotalHours);
                                                        }
                                                        else
                                                        {
                                                            hCFull = hFull;
                                                        }
                                                        if (timeEnd > endTime.TimeOfDay && timeStart <= endTime.TimeOfDay
                                                            && endTime.TimeOfDay > timeMid)
                                                        {
                                                            hOFull = ((TimeSpan)(endTime.TimeOfDay - timeStart)).TotalHours - 1;
                                                        }
                                                        else if (timeEnd > endTime.TimeOfDay && timeStart <= endTime.TimeOfDay
                                                            && endTime.TimeOfDay <= timeMid)
                                                        {
                                                            hOFull = ((TimeSpan)(endTime.TimeOfDay - timeStart)).TotalHours;
                                                        }
                                                        else
                                                        {
                                                            hOFull = hFull;
                                                        }
                                                        dayss++;
                                                        hours = (int)(hCFull + hOFull + (int)(dayss - 2) * hFull);
                                                    }

                                                }

                                                if (itemUser.isemployee == true)
                                                {
                                                    totalTimeUser = hours * 100000;
                                                    <p>@itemUser.username <b>(Member)</b></p>
                                                }
                                                else if (itemUser.islead == true)
                                                {
                                                    totalTimeUser = hours * 200000;
                                                    <p>@itemUser.username <b>(Leader)</b></p>
                                                }
                                                else if (itemUser.isfreelancer == true)
                                                {
                                                    totalTimeUser = hours * 80000;
                                                    <p>@itemUser.username <b>(Freelancer)</b></p>
                                                }
                                                else if (itemUser.islead == false && itemUser.isemployee == false && itemUser.isfreelancer == false)
                                                {
                                                    totalTimeUser = hours * 300000;
                                                    <p>@itemUser.username <b>(PM)</b></p>
                                                }
                                            }
                                        }
                                    </td>
                                    <td>
                                        @itemTask.starttimeplan.ToString("dd/MM/yyyy HH:mm")
                                    </td>
                                    <td>
                                        @itemTask.endtimeplan.ToString("dd/MM/yyyy HH:mm")
                                    </td>
                                    <td>
                                        @{
                                            startTime = DateTime.Parse(itemTask.starttimeplan.ToString());
                                            endTime = DateTime.Parse(itemTask.endtimeplan.ToString());

                                            for (DateTime date = startTime; date.DayOfYear <= endTime.DayOfYear; date = date.AddDays(1))
                                            {
                                                if (date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday)
                                                {

                                                }
                                                else
                                                {
                                                    hFull = ((TimeSpan)(timeEnd - timeStart)).TotalHours - 1;
                                                    if (timeEnd > startTime.TimeOfDay && timeStart <= startTime.TimeOfDay
                                                    && startTime.TimeOfDay <= timeMid)
                                                    {
                                                        hCFull = (((TimeSpan)(timeEnd - startTime.TimeOfDay)).TotalHours - 1);
                                                    }
                                                    else if (timeEnd > startTime.TimeOfDay && timeStart <= startTime.TimeOfDay
                                                        && startTime.TimeOfDay > timeMid)
                                                    {
                                                        hCFull = (((TimeSpan)(timeEnd - startTime.TimeOfDay)).TotalHours);
                                                    }
                                                    else
                                                    {
                                                        hCFull = hFull;
                                                    }
                                                    if (timeEnd > endTime.TimeOfDay && timeStart <= endTime.TimeOfDay
                                                        && endTime.TimeOfDay > timeMid)
                                                    {
                                                        hOFull = ((TimeSpan)(endTime.TimeOfDay - timeStart)).TotalHours - 1;
                                                    }
                                                    else if (timeEnd > endTime.TimeOfDay && timeStart <= endTime.TimeOfDay
                                                        && endTime.TimeOfDay <= timeMid)
                                                    {
                                                        hOFull = ((TimeSpan)(endTime.TimeOfDay - timeStart)).TotalHours;
                                                    }
                                                    else
                                                    {
                                                        hOFull = hFull;
                                                    }
                                                    daysx++;
                                                    hours = (int)(hCFull + hOFull + (int)(daysx - 2) * hFull);
                                                    costPlan = hours * 500000;
                                                }

                                            }

                                        }
                                        <p><b style="color:brown">@hours</b> (hours)</p>
                                    </td>
                                    <td>
                                        <b><strong style="color:darkred">@string.Format("{0:#,##0.00}", costPlan)</strong>(vnd)</b>
                                    </td>
                                    <td>
                                        <b><strong style="color:darkred">@string.Format("{0:#,##0.00}", totalTimeUser)</strong>(vnd)</b>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <hr />
            <hr />
        </div>
    </div>
</div>

<div class="row">

    <!-- /.col -->
    <div class="col-6">
        <p class="lead">TOTAL</p>

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th style="width:50%">Tasks: </th>
                    <td>
                        @foreach (var item2 in affairsList)
                        {

                            if (item2.projectid == Model.projectid)
                            {
                                sumTask++;
                            }

                        }
                        <b style="color:brown">@sumTask (tasks)</b>
                    </td>
                </tr>
                <tr>
                    <th>Total Planned Hours: </th>
                    <td>
                        @foreach (var itemTask in affairsList.Where(a => a.projectid == Model.projectid))
                        {
                            DateTime startTimeb, endTimeb;
                            int hourss = 0;
                            double hFull, hCFull, hOFull;
                            startTimeb = DateTime.Parse(itemTask.starttimeplan.ToString());
                            endTimeb = DateTime.Parse(itemTask.endtimeplan.ToString());
                            int dayse = 0;

                            for (DateTime date = startTimeb; date.DayOfYear <= endTimeb.DayOfYear; date = date.AddDays(1))
                            {
                                if (date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday)
                                {

                                }
                                else
                                {
                                    hFull = ((TimeSpan)(timeEnd - timeStart)).TotalHours - 1;
                                    if (timeEnd > startTimeb.TimeOfDay && timeStart <= startTimeb.TimeOfDay
                                    && startTimeb.TimeOfDay <= timeMid)
                                    {
                                        hCFull = (((TimeSpan)(timeEnd - startTimeb.TimeOfDay)).TotalHours - 1);
                                    }
                                    else if (timeEnd > startTimeb.TimeOfDay && timeStart <= startTimeb.TimeOfDay
                                        && startTimeb.TimeOfDay > timeMid)
                                    {
                                        hCFull = (((TimeSpan)(timeEnd - startTimeb.TimeOfDay)).TotalHours);
                                    }
                                    else
                                    {
                                        hCFull = hFull;
                                    }
                                    if (timeEnd > endTimeb.TimeOfDay && timeStart <= endTimeb.TimeOfDay
                                        && endTimeb.TimeOfDay > timeMid)
                                    {
                                        hOFull = ((TimeSpan)(endTimeb.TimeOfDay - timeStart)).TotalHours - 1;
                                    }
                                    else if (timeEnd > endTimeb.TimeOfDay && timeStart <= endTimeb.TimeOfDay
                                        && endTimeb.TimeOfDay <= timeMid)
                                    {
                                        hOFull = ((TimeSpan)(endTimeb.TimeOfDay - timeStart)).TotalHours;
                                    }
                                    else
                                    {
                                        hOFull = hFull;
                                    }
                                    dayse++;
                                    hourss = (int)(hCFull + hOFull + (int)(dayse - 2) * hFull);
                                }

                            }
                            hoursd += hourss;
                            costPlan = hoursd * 500000;
                        }
                        <p><b style="color:brown">@hoursd</b> (hours)</p>
                    </td>
                </tr>
                <tr>
                    <th>Total Plan Amount</th>
                    <td>
                        <b><strong style="color:darkred">@string.Format("{0:#,##0.00}", costPlan)</strong>(vnd)</b>
                    </td>
                </tr>
                <tr>
                    <th>Total Estimated Amount :</th>
                    <td>

                        @foreach (var itemTask in affairsList.Where(a => a.projectid == Model.projectid))
                        {
                            DateTime startTime, endTime;
                            int hours = 0;
                            double hFull, hCFull, hOFull;
                            foreach (var itemUser in userList.Where(a => a.userid == itemTask.userid))
                            {
                                startTime = DateTime.Parse(itemTask.starttimeplan.ToString());
                                endTime = DateTime.Parse(itemTask.endtimeplan.ToString());
                                int dayss = 0;
                                for (DateTime date = startTime; date.DayOfYear <= endTime.DayOfYear; date = date.AddDays(1))
                                {
                                    if (date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday)
                                    {

                                    }
                                    else
                                    {
                                        hFull = ((TimeSpan)(timeEnd - timeStart)).TotalHours - 1;
                                        if (timeEnd > startTime.TimeOfDay && timeStart <= startTime.TimeOfDay
                                        && startTime.TimeOfDay <= timeMid)
                                        {
                                            hCFull = (((TimeSpan)(timeEnd - startTime.TimeOfDay)).TotalHours - 1);
                                        }
                                        else if (timeEnd > startTime.TimeOfDay && timeStart <= startTime.TimeOfDay
                                            && startTime.TimeOfDay > timeMid)
                                        {
                                            hCFull = (((TimeSpan)(timeEnd - startTime.TimeOfDay)).TotalHours);
                                        }
                                        else
                                        {
                                            hCFull = hFull;
                                        }
                                        if (timeEnd > endTime.TimeOfDay && timeStart <= endTime.TimeOfDay
                                            && endTime.TimeOfDay > timeMid)
                                        {
                                            hOFull = ((TimeSpan)(endTime.TimeOfDay - timeStart)).TotalHours - 1;
                                        }
                                        else if (timeEnd > endTime.TimeOfDay && timeStart <= endTime.TimeOfDay
                                            && endTime.TimeOfDay <= timeMid)
                                        {
                                            hOFull = ((TimeSpan)(endTime.TimeOfDay - timeStart)).TotalHours;
                                        }
                                        else
                                        {
                                            hOFull = hFull;
                                        }
                                        dayss++;
                                        hours = (int)(hCFull + hOFull + (int)(dayss - 2) * hFull);
                                    }

                                }

                                if (itemUser.isemployee == true)
                                {
                                    gio1 += hours * 100000;
                                }
                                else if (itemUser.islead == true)
                                {

                                    gio1 += hours * 200000;
                                }
                                else if (itemUser.isfreelancer == true) { gio1 += hours * 80000; }
                                else if (itemUser.islead == false && itemUser.isemployee == false && itemUser.isfreelancer == false)
                                {

                                    gio1 += hours * 300000;
                                }
                            }
                        }
                        <b><strong style="color:darkred">@string.Format("{0:#,##0.00}", gio1)</strong>(vnd)</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.col -->
</div>
@section Scripts
{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": false, "lengthChange": false, "autoWidth": false,
                "buttons": ["colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}
<script src="~/js/notify.js"></script>