@model IEnumerable<FourN.Data.ViewModel.PrivatemessageViewModel>
@{
    List<FourN.Data.ViewModel.PrivatemessageViewModel> listIb = (List<FourN.Data.ViewModel.PrivatemessageViewModel>)ViewData["listInbox"];
}
@*<link href='/css/module4_calendar.css' rel='stylesheet' />*@
<link href='/plugins/toastr/toastr.min.css' rel='stylesheet' />
<script src='/plugins/toastr/toastr.min.js'></script>

@*<link href='https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css' rel='stylesheet' type="text/css" />*@

<div class="row">
    <form action="" method="post" enctype="multipart/form-data" id="message-form" class="form-control">
        <ul class="nav nav-tabs">
            <li class="active col-md-4 message-li-tab tab-inbox" data-id="tab-inbox">
                <a href="#tab-inbox" data-toggle="tab">Inbox</a>
            </li>
            <li class="col-md-4 message-li-tab tab-sent" data-id="tab-sent">
                <a href="#tab-sent" data-toggle="tab">Sent</a>
            </li>
            <li class="col-md-4 message-li-tab tab-create" data-id="tab-create">
                <a href="#tab-create" data-toggle="tab">Compose</a>
            </li>
        </ul>
        <div class="tab-content message-div-tab-content">
            <div class="tab-pane active message-div-tab" id="tab-inbox">
                <table id="table_inbox" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>Stt</th>
                            <th>Sender</th>
                            <th>Title</th>
                            <th style="display:none">Content</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item1 in listIb)
                        {
                            <tr id="s-@item1.messageid">
                                <td width="10%">
                                    <button type="button" class="btn btn-info message-btn" data-id="@item1.messageid" data-team="0" data-send="0" data-user-id="@item1.UsersSend.userid"> <i class="fa fa-file-alt" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-danger message-btn" data-id="@item1.messageid" data-team="0" data-send="0"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                                @if (item1.messageread == 0)
                                {
                                    <td><span id="sname-@item1.messageid" style="color:red">@item1.UsersSend.username</span></td>
                                    <td><span id="stitle-@item1.messageid" style="color:red">@item1.messagetitle</span></td>
                                    <td style="display:none"><span id="scontent-@item1.messageid">@item1.messagecontent</span></td>
                                    <td>@item1.messagecreateat</td>
                                }
                                else
                                {
                                    <td><span id="sname-@item1.messageid">@item1.UsersSend.username</span></td>
                                    <td><span id="stitle-@item1.messageid">@item1.messagetitle</span></td>
                                    <td style="display:none"><span id="scontent-@item1.messageid">@item1.messagecontent</span></td>
                                    <td>@item1.messagecreateat</td>
                                }
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            <div class="tab-pane message-div-tab" id="tab-sent">
                <table id="table_sent" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Receive</th>
                            <th>Title</th>
                            <th style="display:none">Content</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item2 in Model)
                        {
                            <tr id="i-@item2.messageid">
                                <td width="10%">
                                    <button type="button" class="btn btn-info message-btn-sent" data-id="@item2.messageid" data-team="0" data-send="1" data-user-id="@item2.UsersInbox.userid"> <i class="fa fa-file-alt" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-danger message-btn" data-id="@item2.messageid" data-team="0" data-send="1"> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                                @if (item2.messageread == 0)
                                {
                                    <td><span id="iname-@item2.messageid" style="color:red">@item2.UsersInbox.username</span></td>
                                    <td><span id="ititle-@item2.messageid" style="color:red">@item2.messagetitle</span></td>
                                    <td style="display:none"><span id="icontent-@item2.messageid">@item2.messagecontent</span></td>
                                    <td>@item2.messagecreateat</td>
                                }
                                else
                                {
                                    <td><span id="iname-@item2.messageid">@item2.UsersInbox.username</span></td>
                                    <td><span id="ititle-@item2.messageid">@item2.messagetitle</span></td>
                                    <td style="display:none"><span id="icontent-@item2.messageid">@item2.messagecontent</span></td>
                                    <td>@item2.messagecreateat</td>
                                }

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            <div class="tab-pane message-div-tab row container" id="tab-create">
                <div class="col-md-8 offset-md-5">
                    <div class="form-group">
                        <div class="col-md-9">
                            <label class="control-label label-object">
                                Send to:
                            </label>
                            <input type="radio" name="object" value="Member" class="message-radio-member" checked /> Member
                            <input type="radio" name="object" value="Team" class="message-radio-team" /> Team
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="to" value="" placeholder="Enter a name.." id="message-id-to" class="form-control" autocomplete="off" />
                            <span class="text-danger message-error" id="message-id-to-error">Name can not blank</span>
                            <ul class="dropdown-menu message-id-to">
                                @*<li class="message-id-to ml-1">Mr Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>*@

                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            Title:
                        </label>
                        <div class="col-md-9">
                            <input type="text" name="title" value="" placeholder="Enter a title.." id="message-id-title" class="form-control" />
                            <span class="text-danger message-error" id="message-id-title-error">Title can not blank</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            Content:
                        </label>
                        <div class="col-md-9">
                            <textarea rows="4" cols="50" placeholder="Enter a message here..." class="form-control" id="message-id-content"></textarea>
                            <span class="text-danger message-error" id="message-id-content-error">Content can not blank</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary message-btn-send">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<input type="text" id="message-tr-id" style="display:none" value="" />
<!-- Modal -->
<div class="modal" id="message-modal-alert" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="message-modal-p-content">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary message-modal-btn-ok">Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- end Modal -->
<!-- Modal -->
<div class="modal" id="message-modal-confirm-message" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Compose</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">
                        Send to:
                    </label><span id="message-modal-span-team"></span>
                    <div class="">
                        <input type="text" id="message-modal-input-name" name="name" value="" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Title:
                    </label>
                    <div class="">
                        <input type="text" name="title" id="message-modal-input-title" value="" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Content:
                    </label>
                    <div class="">
                        <textarea rows="4" cols="50" name="content" class="form-control" id="message-modal-input-content" readonly></textarea>
                        @*<input type="text" name="content" id="message-modal-input-content" value="" class="form-control" readonly />*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary message-modal-btn-confirm" id="message-modal-btn-confirm">
                    <div class="spinner-border spinner-border-sm" role="status" hidden>
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span id="message-span-confirm">Confirm</span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- end Modal -->
<input id="hidden-send-to" style="display:none" type="text" />
<script>
    $(document).ready(function () {
        //add color background
        $('li.Message').css('background-color', 'azure');
        //add datatable
        $('#table_inbox').DataTable();
        $('#table_sent').DataTable();
        // event li-tab active
        $('li.message-li-tab').click(function (event) {
            $('li.message-li-tab').removeClass('active'); //tab-create
            $(this).addClass('active');
            var id = $(this).attr("data-id");
            $('div.message-div-tab').hide();
            $('#' + id).show();
        });
        //click btn details inbox
        $('.btn-info.message-btn').click(function () {
            var id = "";
            if ($(this).attr('data-id').trim() != "") {
                id = $(this).attr('data-id').trim();
                var userid = $(this).attr('data-user-id');
                var checkTeam = "";
                if ($(this).attr('data-team').trim() != "") {
                    checkTeam = $(this).attr('data-team').trim();
                    if (checkTeam == "0") {
                        $('.message-radio-member').prop('checked', true);
                    }
                    else {
                        $('.message-radio-team').prop('checked', true);
                    }
                    if ($(this).attr('data-send').trim() == "0") {
                        $('label.label-object').text("Send From: ");
                    }
                    else {
                        $('label.label-object').text("Send To: ");
                    }
                    var sname = $('span#sname-' + id).text();
                    var stitle = $('span#stitle-' + id).text();
                    var scontent = $('span#scontent-' + id).text();
                    $('#message-id-to').val(sname);
                    $('#message-id-title').val(stitle);
                    $('#message-id-content').val(scontent);
                    $('span#sname-' + id).css('color', 'black');
                    $('span#stitle-' + id).css('color', 'black');
                    $('#hidden-send-to').val(userid);
                    //ajax to change read
                    $.ajax({
                        url: '/Module4/Message/ChangeRead',
                        dataType: 'json',
                        data: { id: id },
                        type: "POST",
                        beforeSend: function () {

                        },
                        complete: function () {

                        },
                        success: function (json) {
                            if (json['status'] == true) {

                            }
                            else {
                                toastr.error("Something is error. data-team is invalid")
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        },
                    });//end ajax
                }
                else {
                    toastr.error("Something is error. data-team is invalid")
                }

                $('li.message-li-tab').removeClass('active');
                $('li.tab-create').addClass('active');
                $('div.message-div-tab').hide();
                $('#tab-create').show();
            }
            else {
                toastr.error("Something is error. data-id is invalid")
            }
        });
        //click btn details sent
        $('.btn-info.message-btn-sent').click(function () {
            var id = "";
            if ($(this).attr('data-id').trim() != "") {
                id = $(this).attr('data-id').trim();
                var userid = $(this).attr('data-user-id');
                var checkTeam = "";
                if ($(this).attr('data-team').trim() != "") {
                    checkTeam = $(this).attr('data-team').trim();
                    if (checkTeam == "0") {
                        $('.message-radio-member').prop('checked', true);
                    }
                    else {
                        $('.message-radio-team').prop('checked', true);
                    }
                    if ($(this).attr('data-send').trim() == "0") {
                        $('label.label-object').text("Send From: ");
                    }
                    else {
                        $('label.label-object').text("Send To: ");
                    }
                    var iname = $('span#iname-' + id).text();
                    var ititle = $('span#ititle-' + id).text();
                    var icontent = $('span#icontent-' + id).text();
                    $('#message-id-to').val(iname);
                    $('#message-id-title').val(ititle);
                    $('#message-id-content').val(icontent);
                    $('#hidden-send-to').val(userid);
                }
                else {
                    toastr.error("Something is error. data-team is invalid")
                }

                $('li.message-li-tab').removeClass('active');
                $('li.tab-create').addClass('active');
                $('div.message-div-tab').hide();
                $('#tab-create').show();
            }
            else {
                toastr.error("Something is error. data-id is invalid")
            }

        });
        //click btn delete
        $('.btn-danger.message-btn').click(function () {
            var id = "";
            if ($(this).attr('data-id').trim() != "") {
                id = $(this).attr('data-id').trim();
                $('#message-tr-id').val(id);
                $('#message-modal-alert h5.modal-title').text('Delete');
                $('p.message-modal-p-content').text('Do you want to delete ?')
                $('#message-modal-alert').modal('show');
            }
            else {
                toastr.error("Something is error. data id is invalid")
            }
        });
        $('.message-modal-btn-ok').click(function () {
            var id = $('#message-tr-id').val();
            //ajax to change read
            $.ajax({
                url: '/Module4/Message/DeleteMessage',
                dataType: 'json',
                data: { id: id },
                type: "POST",
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (json) {
                    if (json['status'] == true) {
                        toastr.success('Successfully');
                        $('#message-modal-alert').modal('hide');
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    }
                    else {
                        toastr.error("Something is error. data-team is invalid")
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                },
            });//end ajax
        });

        //create compose
        $('.message-btn-send').click(function () {
            //get data from form
            $('.message-error').css("display", "none");
            var flag = true;
            var member = $('input[name="object"]:checked').val();
            var to = $('#message-id-to').val();
            var title = $('#message-id-title').val();
            var content = $('#message-id-content').val();
            //pass param
            if (to == "") {
                $('#message-id-to-error').text("Name can not blank")
                $('#message-id-to-error').css("display", "block");
                flag = false;
            }
            if (title == "") {
                $('#message-id-title-error').css("display", "block");
                flag = false;
            }
            if (content == "") {
                $('#message-id-content-error').css("display", "block");
                flag = false;
            }
            if ($('#hidden-send-to').val() == "") {
                $('#message-id-to-error').text("Can not find this name. Please choose name from list.")
                $('#message-id-to-error').css("display", "block");
                flag = false;
            }
            if (flag) {
                $('#message-modal-span-team').text(member);
                $('#message-modal-input-name').val(to);
                $('#message-modal-input-title').val(title);
                $('#message-modal-input-content').text(content);
                //show modal
                $('#message-modal-confirm-message').modal('show');
            }

        });

        //autocomplete
        $('input[name=\'to\']').on('input', function () {
            $('#hidden-send-to').val("");
            var namelike = $(this).val();
            if (namelike.trim() != "") {
                $.ajax({
                    url: '/Module4/Message/Autocomplete?filter_name=' + namelike,
                    dataType: 'json',
                    //data: { },
                    type: "GET",
                    beforeSend: function () {
                        $('ul.message-id-to').empty();
                        $('ul.message-id-to').css("display", "block");

                    },
                    complete: function () {
                        $('li.message-id-to').click(function () {
                            var text = $(this).text();
                            var id = $(this).attr("data-id");
                            $('#hidden-send-to').val(id);
                            $('#message-id-to').val(text);
                            $('ul.message-id-to').css("display", "none");
                        });
                    },
                    success: function (json) {
                        if (json['status'] == true) {
                            //Object.entries(json['result'].forEach(element => {

                            //});
                            $.each(json['result'], function (key, value) {
                                $('ul.message-id-to').append("<li class='message-id-to ml-1' data-id='" + value["userid"] + "' >" + value["email"] + " </li>");
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    },
                });//end ajax
            }//end if
            else {
                $('ul.message-id-to').css("display", "none");
            }
        });//end autocomplete

        //create message
        $('.message-modal-btn-confirm').click(function () {
            var to = $('#hidden-send-to').val();
            var title = $('#message-id-title').val();
            var content = $('#message-id-content').val();
            $.ajax({
                url: '/Module4/Message/CreateMessage',
                dataType: 'json',
                data: {
                    to: to,
                    title: title,
                    content: content
                },
                type: "POST",
                beforeSend: function () {
                    $('.btn').prop("disabled", true);
                    $('#message-span-confirm').text("Loading..");
                    $(".spinner-border").prop("hidden", false);
                },
                complete: function () {
                    $('.btn').prop("disabled", false);
                    $('#message-span-confirm').text("Confirm");

                },
                success: function (json) {
                    if (json['status'] == true) {
                        toastr.success("Successfully");
                        $(".spinner-border").prop("hidden", true);
                        $('#message-modal-confirm-message').modal('hide');
                        var user = json['username'];
                        var message = "message";
                        connectionNotify.invoke("SendNotify", user, message).catch(function (err) {
                            return console.error(err.toString());
                        });
                        event.preventDefault();
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                        $('#message-modal-confirm-message').modal('hide');
                    }
                    else {
                        toastr.error("Something is wrong");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                },
            });//end ajax
        });
    });
</script>
@*<script src="~/js/signalr/dist/browser/signalr.min.js"></script>*@
<script src="~/js/notify.js"></script>
